/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

/* GLOBAL */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  font-size: 14px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* NAVBAR */
a.text-nav-primary {
  color: #ffff;
}
a.text-nav {
  color: #ffff;
}

a.text-nav:hover {
  color: #2f6faf !important;
}
