
@import '~@angular/material/theming';

@include mat-core();

$theme-primary: mat-palette($mat-amber);
$theme-accent:  mat-palette($mat-blue-grey);
$theme-warn:    mat-palette($mat-red);

$theme:         mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);
