<header>
  <mat-toolbar color="primary">
    <a class="nav-link text-nav-primary" [routerLink]="['/']">Portal Instituto de Computação</a>
    <mat-divider vertical style="height:50px; border-right-color:white;"></mat-divider>
    <a class="nav-link text-nav" [routerLink]="['/']">Home</a>
    <mat-divider vertical style="height:50px; border-right-color:white;"></mat-divider>
    <a class="nav-link text-nav" [routerLink]="['/projetos']">Projetos</a>
  </mat-toolbar>
</header>

<!--<button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()">
  <span class="navbar-toggler-icon"></span>
</button>-->
<!--<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
     [ngClass]="{ show: isExpanded }">
</div>-->
